@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}

header {

}

nav {
    background-color: rgb(0, 0, 0);
    padding: 20px;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
}

nav a {
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover {
    color: yellow;
}

body {
    background-color: rgb(210, 255, 241);
}

main {
    padding: 20px;
    background-color: blue;
    color: rgb(0, 0, 0);
}

h1 {
    background-color: rgb(255, 255, 255);
    padding: 15px;
    margin: 0px -20px;
    text-align: center;
}

h1:hover {
    color: rgb(4, 0, 255);
    font-size: 35px;
}

p {
    font-size: 20px;
    padding: 15px;
}

h2 {
    color: rgb(0, 0, 0);
    padding: 15px;
    background-color: rgb(0, 94, 255);
    margin: 0px -20px;
}

img {
    justify-content: center;
    margin: 20px auto 20px auto;
    align-items: center;
    display: flex;
    width: 80%;
}

footer p {
    color: rgb(0, 255, 68);
    text-align: center;
    background-color: black;
    padding: 20px;
    font-size: 25px;
}





